In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv('thefood-corgis.csv')
## import metadata csv: dh = pd.read_csv('food-meta.csv', index=True)



df.to_csv('food-corgis.csv')

df.head()

,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0.1,0.06,215,19,...,24.2,576,0.09,2499,684,0.17,0.003,0.0.3,2.32,7.0
0,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
1,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
2,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
3,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5
4,CHEESE,"CHEESE,BRIE",1006,0,2.70,9,0,0.45,100,15,...,152,629,2.38,592,174,1.65,0.235,0.0,0.24,2.3